//其他全局样式导入
@use './normalize.css';
body {
    font-family: var(--el-font-family);
    font-size: var(--el-font-size-base);
    line-height: 1.5;
    color: var(--el-text-color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--el-bg-color);
}

a {
    color: var(--el-color-primary);
    cursor: pointer;
}

code {
    border-radius: 2px;
    padding: 2px 4px;
    background-color: var(--el-color-primary-light-9);
    color: var(--el-color-primary);
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

:focus-visible {
    outline: none;
}

//树形节点高度
.el-tree {
    --el-tree-node-content-height: 32px;
}

//加粗表单项标题
.el-form-item__label {
    font-weight: bold;
}

//自定义滚动条样式
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    opacity: 0.3;
}

//表格表头加粗,表头背景
.el-table{
    --el-table-header-bg-color: var(--el-fill-color-light);
    --el-table-header-text-color: var(--el-text-color-primary);
}