:root {
    // 文字颜色
    --color: #000;
    --color1: rgba(0, 0, 0, 0.9);
    // box背景
    --background: rgba(255, 255, 255, 0.6);
    --panelbackground: #e1edf4;
    --box-shadow: 0px 0px 16px 0px rgba(59, 86, 137, 0.13);
    --backdrop-filter: blur(10px);
    // border颜色
    --border-color: #666666;
    --border-radius: 16px;

    //卫星图主题
    --border-color-moon: rgba(255, 255, 255, 0.31);
}
